{% extends 'base.html.twig' %}

{% block title %}New MovieList{% endblock %}

{% block body %}
    <h1>Create new MovieList</h1>

    {{ include('movie_list/_form.html.twig') }}

    <a href="{{ path('movie_list_index') }}">back to list</a>
{% endblock %}
